<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin Clone - View text</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Full text</h1>
        <p><%= text.content %></p>
	<a href="/"><button>Back</button></a>
    </div>
</body>
</html>
